<section class="login-credentials-page">
  <AnmeldeverfahrenHeader
    :current-context="currentContext"
    :active-menu="activeCredentialsMenu"
    :has-menu-selection-context="hasMenuSelectionContext"
    :has-selection-attention-context="hasSelectionAttentionContext"
    :verfahren-status="selectedVerfahrenStatus"
    :is-review-mode="isReviewMode"
    :user="user"
    :user-label="userLabel || loginUserLabel"
    :connected-host="connectedHost"
    :connected-port="connectedPort"
    :connected-database="connectedDatabase"
    @navigate="navigateToMenu"
    @logout="emit('close')"
  />

  <section class="card login-credentials-card-shell">
    <div class="login-credentials-main">
      <AnmeldeverfahrenView
        v-if="hasMountedVerfahrenView"
        v-show="activeCredentialsMenu === 'verfahren'"
        :token="token"
        :verfahren-id="selectedVerfahrenId"
        :runde-id="selectedRundenId"
        @update-context="handleContextUpdate"
        @update-selection="handleSelectionUpdate"
      />

      <section
        v-if="activeCredentialsMenu === 'verfahrensdaten'"
        :key="selectedVerfahrenId ?? 'kein-verfahren'"
        class="login-credentials-stacked-panel"
        role="tabpanel"
      >
        <SchulenImVerfahrenBereich
          :token="token"
          :verfahren-id="selectedVerfahrenId"
          :verfahrenstyp="selectedVerfahrenstyp"
          :is-readonly="isReviewMode"
        />

        <ImporteView
          :token="token"
          :verfahren-id="selectedVerfahrenId"
          :runde-id="selectedRundenId"
          :verfahrenstyp="selectedVerfahrenstyp"
          :context="currentContext"
          :is-readonly="isReviewMode"
        />
      </section>

      <AbgleichView
        v-if="activeCredentialsMenu === 'abgleich'"
        :token="token"
        :verfahren-id="selectedVerfahrenId"
        :runde-id="selectedRundenId"
        :verfahrenstyp="selectedVerfahrenstyp"
        :context="currentContext"
        :is-readonly="isReviewMode"
      />

      <KoordinationView
        v-if="activeCredentialsMenu === 'koordination'"
        :token="token"
        :verfahren-id="selectedVerfahrenId"
        :runde-id="selectedRundenId"
        :runde-status="selectedRundenStatus"
        :context="currentContext"
        :is-readonly="isReviewMode"
      />

      <OffeneFaelleView
        v-if="activeCredentialsMenu === 'offene-faelle'"
        :token="token"
        :verfahren-id="selectedVerfahrenId"
        :runde-id="selectedRundenId"
        :context="currentContext"
        :is-readonly="isReviewMode"
      />

      <AuswertungenView
        v-if="activeCredentialsMenu === 'auswertungen'"
        :token="token"
        :verfahren-id="selectedVerfahrenId"
        :runde-id="selectedRundenId"
        :context="currentContext"
      />
    </div>
  </section>
</section>
